<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title lehoanphuc</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BOOK Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("List Sách", "listSach", "Sach")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")</li>
                    <li>@Html.ActionLink("Đăng Ký", "DangKy", "NguoiDung")</li>
                    <li>@Html.ActionLink("Đăng Nhập", "DangNhap", "NguoiDung")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - lehoanphuc</p>
        </footer>
    </div>
    @*<div class="form-group">
        <label class="control-label col-md-2" for="matkhauxacnhan">
            mật khẩu xác nhận:
        </label>
        <div class="col-md-10">
            <input class="form-control text-box single-line input-validation-error"
                   data-val="true" data-val-required="phải nhập mật khẩu xác nhận!"
                   id="matkhauxacnhan" name="matkhauxacnhan" type="password" value="" aria-
                   describedby="matkhauxacnhan-error" aria-invalid="true">

            @viewdata["nhapmkxn"]
            @viewdata["matkhaugiongnhau"]
        </div>
    </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
